@import url("landscapeCss.css") only screen and (min-width: 768px);
@import url("portraitCss.css") only screen and (max-width: 768px);
.mainDiv{
    width: 100%;
    float: left;
    /*background: blue;*/
}

.mainDiv a{
    text-decoration: none;
}