ol{
    list-style: none;
    list-style-type:none;
}

li{
    width: 18%;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.05em;
    list-style: none;
    list-style-type:none;
    float: left;
    margin: 0 2.0em 1.5em 0;
}

ol li a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.chapterImg{
    width: 100%;
}

.chapterName{
    text-align: center;
    font-size: 100%;
}